<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- Devices running Android 12L (API level 32) or lower -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".NewPasswordShipperForgotActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />

        <activity
            android:name=".NewChangePassWordShipperActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ChangePassWorkInfoShipperActivity"
            android:theme="@style/NoActionBar"
            android:exported="false"
    />
        <activity
            android:name=".AccountInformationActivity"
            android:theme="@style/NoActionBar"
            android:exported="false"
          />
        <activity
            android:name=".DetailNotDeliveryActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />
        <activity
            android:name=".DetailDeliveringOrderActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />
        <activity
            android:name=".DetailReceiveOrderActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"

            android:exported="false" />
        <activity
            android:name=".VerifyPhoneNumberActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />
        <activity
            android:name=".DangKiShipperActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsNeedDelivereActivity"
            android:theme="@style/NoActionBar"
            android:exported="false" />
        <activity
            android:name=".DangNhapShipperActivity"
            android:exported="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>